body {
    text-align: center;
}
header {
    height: 200px;
    width: 1300px;
    display: inline-block;
    border: 5px solid black;
}
#skinnyrectangle {
    background-color: purple;
    height: 150px;
    width: 50px;
    margin: 45px 20px;
    float: left;
}
#thickrectangle {
    background-color: green;
    height: 175px;
    width: 400px;
    margin: 20px auto;
    float: left;
}
#circle {
    background-color: lightblue;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 15px 10px;
    float: left;

}
main {
    border: 5px dotted black;
    display: inline-block;
    height: 250px;
    width: 1300px;
}
/*.shadowrectangle {
    width: 1200px;
    height: 200px;
    background-color: tan;
    margin: -5px;
    

}*/
.tanrectangle {
    width: 1200px;
    height: 200px;
    display: inline-block;
    background-color: tan;
    margin: 25px;
    box-shadow: 10px 10px 10px grey;
}
footer {
    display: inline-block;
    border: 2px grey solid;
    width: 650px;
    height: 300px;
    box-shadow: 5px 5px 5px grey;
}
p {
    font-size: 50px;
    display: inline-block;
    color: blue
}